@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@300;400;500;700;800&display=swap');

*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
}

.header-section{
    display: flex;
    padding: 20px 50px 20px 80px;
justify-content: space-between;
align-items: center;
align-content: center;



}
a{
    text-decoration: none;
    cursor: pointer}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.linkbutton{
   font-size: 14px;
   font-weight: 500;
   display: flex;
   width: 130px;
   padding: 12px 12px;
   justify-content: center;
   background-color: #c56d33;
   margin: 8px;
   border: none;
  cursor: pointer;
}

.Hero-section{
    display: flex;
    padding: 0px 0px 0px 80px;
    justify-content: flex-end;
    align-items: center;
    gap: 58px;
    background-color:  #EEF0FE;
    color: #2A3541;
}
.Hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.herobutton{
    display: flex;
    width: 254px;
    padding: 16px 8px;
    justify-content: center;
    align-items: center; border-radius: 4px; 
    border: 1px solid var(--primary-key-color-primary-color, #044188);
    margin-top: 16px;
    background-color: #EEF0FE;
    color: #2A3541;
    cursor: pointer;
}
.h2text{
    color: #044188;
    font-family: Poppins;
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: 70.5px;
}
.Primarybutton{
    display: flex;
    width: 254px;
    padding: 16px 8px;
    justify-content: center;
    align-items: center;
    background-color: #044188;
    margin-top: 16px;
    border: none;
    color: #EEF0FE;
    border-radius: 4px;
    box-shadow: 0px 8px 10px 0px rgba(3, 17, 34, 0.20);
    cursor: pointer;
}
.Secondarybutton{
    display: flex;
    width: 254px;
    padding: 16px 8px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 16px;
    border: none;
    color: #044188;
    border-radius: 4px;
    box-shadow: 0px 8px 10px 0px rgba(3, 17, 34, 0.20);
    cursor: pointer;
}
.SME{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    gap: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.Corporatebody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EEF0FE;
    margin: 40px 50px 0px 50px;
    border-radius: 4px;
}
.Corporateloan{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 10px;
    gap: 20px;
}
.Focus{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.Cardrows1{
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}
.Cardrows{
    display: flex;
    gap: 8px;
}

.Card{
    display: flex;
    /* margin-top: 20px; */
    background-color: white;
    padding: 16px 8px 16px 8px;
    gap: 10px;
    width: 370px;
    align-items: start;
    border-radius: 5px;
}
.salarybutton{
    display: flex;
    gap: 16px;
}
.SME-Loans{
    
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 10px; */
        gap: 50px;
       margin: 40px;
    
}